<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header', {title: title}) %>
    <form action="" method="post">
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required />
      </div>
      <div>
        <label for="message">Message</label>
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="10"
          required
        ></textarea>
      </div>
      <ul>
        <% if (errors) { errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% })} %>
      </ul>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
