<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header', {title: title}) %>
    <form action="" method="post">
      <label for="secret">Secret</label>
      <input type="text" name="secret" id="secret" />
      <button type="submit">Verify</button>
      <% if (errors) { %>
      <li><%= errors[0].msg %></li>
      <% } %>
    </form>
  </body>
</html>
